@import '../vars';
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  nav {
    background: var(--verde);
    font-family:  "Bebas Neue", sans-serif;
  }
  
  .contenedor {
    width: 90%;
    margin: auto;
  }
  
  .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logotipo {
    font-family: "Bebas Neue", sans-serif;
    font-weight: normal;
    color: var(--white);
    font-size: 30px;
    text-decoration: none;
  }
  
   nav .contenedor a {
    color: #f6f9fa;
    text-decoration: none;
    margin-right: 20px;
  }
  
  nav .contenedor a:hover,
  nav .contenedor a.activo {
    color: #f6f9fa;
  }
