@import 'vars';

.m1 {
    position: relative;
    top: 20px; 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
}
.bloque {
    position: relative;
    top: 40px;
}

.Menu_despegable {
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    margin: 10px auto;
}

.Menu_despegable .contenedor {
    box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.822);
    background-color: rgba(255, 255, 255, 0.822);
    border-radius: 10px;       
}

.Menu_despegable .contenedor .opciones {
    display: flex;
    justify-content: space-between;
    background-color: #F1EDED;
    color:black;
    padding: 13px 15px;
    font-size: 22px;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
}

.Menu_despegable .contenedor .opciones .icono {
    background-color: white;
    color: gray;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    width: 26px;
    
}

.Menu_despegable .contenedor .enlaces {
    height: 0;
    overflow: hidden;
}

.Menu_despegable .contenedor .animation {
    height: 100%;
}

.Menu_despegable .contenedor .enlaces a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    font-size:  20px;
    color:  rgb(0,0,0,.8);
    background-color: white;
    border-radius: 10px;
}

.Menu_despegable .contenedor .enlaces a:hover {
    background-color: #1a567e;
    color: white;
}

.Menu_despegable .contenedor .opciones a {
    text-decoration: none;
    color: black;
}